.sections {
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    user-select: none;
    height: 50vh;
}

#section-um { 
    height: 70vh;
    background-color: #565656;
}

#section-dois { 
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    padding: 0px 30px;
}

#section-dois h2 {
    font-weight: 600;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.212);
    font-size: 1.1em;

}

#texto-section-dois {
    width: 400px;
}


#section-dois img {
    position: relative;
    height: 200px;
    width: auto;
}

#section-tres { 
    padding: 40px 0px 40px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    background-color: #0E0E0E;
    color: #FFF;
}

#texto-section-tres {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#texto-section-tres p {
    display: none;
}

#texto-section-tres h2 {
    font-size: 1.2em;
    width: 80%;
}

#imagem-section-tres {
    background-image: url(../imagens/joia-prata.png);
    background-position: center center;
    background-size: cover;
    height: 230px;
    width: 180px;
    border-radius: 15px;
    box-shadow: 0px 0px 150px 50px #ffffff50;
}
#section-quatro { 
    background-color: #BABDBF;
}

#section-cinco { 
    background-color: #0E0E0E;
}






@media screen and (min-width: 800px) {
    #texto-section-tres p {
        display: initial;
    }

    #section-tres { 
        padding: 0px 50px 0px 50px;
        flex-direction: row;
        
    }

    #texto-section-tres h2 {
        font-size: 1.4em;
        letter-spacing: 3px;
    }

    #texto-section-tres {
        width: 50%;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
