#section-quatro { 
    background-color: #BABDBF;
}

#section-quatro {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}

.div-section-quatro {
    display: flex;
    justify-content: center;
    height: 35%;
}

.div-section-quatro:first-child {
    align-items: end;
}

#div-imagem-section-quatro {
    height: 100%;
    align-items: center;
}

.div-section-quatro p {
    font-weight: bold;
    text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.3);
    width: 60vw;
}

.div-section-quatro button {
    background-color: #E7E7E7;
    font-weight: bold;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.575);
    width: 40vw;
    height: 60px;
    border: none;
    border-radius: 25px;
    transition: 0.2s;
}

.div-section-quatro button:hover {
    transform: scale(1.1);
}

#section-quatro img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    border: solid 3px #FFF;
}

@media screen and (min-width: 800px) {
    #section-quatro {
        background-image: url(../imagens/background-2-desktop.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}
