#section-um { 
    height: 430px;
    background-image: url(../imagens/background-1-mobile.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #565656;
    color: #FFF;
}

#section-um {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imagens-section-um {
    background-image: url(../imagens/imagem-1-1.png);
    background-position: center center;
    background-size: cover;
    height: 173px;
    width: 176px;
}

#div-um-section-um {
    display: flex;
    flex-direction: row;
    margin-right: auto;

}

#div-um-section-um h1 {
    margin-top: auto;
    width: 60px;

}

#div-um-section-um div {
    margin-left: 65px;
    border-radius: 0px 0px 7px 7px;
    border: solid 2px #FFF;
}







#div-dois-section-um {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

#div-dois-section-um div {
    border-radius: 7px 7px 0px 0px;
    border: solid 2px #FFF;
    margin-right: 65px;
}

#div-dois-section-um h2 {
    margin-bottom: auto;
}










#div-dois-section-um h2 {
    width: 100px;
    font-size: 1.2em;
}



@media screen and (min-width: 800px) {
    #section-um {
        height: 70vh;
        background-image: url(../imagens/background-1-desktop.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}